﻿@model CoreMVCBasicExample.Models.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="row" style="margin-bottom: 120px">
    <div class="col-md-6 col-md-offset-2" style="padding-left: 15%;">
        <div class="cform" id="contact-form">
            @* Look up at tag helpers https://docs.asp.net/en/latest/mvc/views/tag-helpers/intro.html *@
            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label col-md-4"></label> 
                        <input asp-for="UserName" class="form-control text-box single-line" placeholder="Usuario" value="" type="text">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label col-md-4"></label>
                        <input asp-for="Password" class="form-control text-box single-line" placeholder="Password" value="">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                     <input id="returnUrl" name="returnUrl" value="/" type="hidden">
                    <button type="submit" name="enviar" class="btn btn-theme pull-left">Login</button>
            </form>
        </div>
    </div>
</div>