﻿@using System.Security.Claims;

@{
    ViewData["Title"] = "Pages";
}

Pages
<form action="http://localhost:50149/api/Pages" method="post">
    Page Name: <input type="text" name="pageName" id="pageName" value=""><br>
    <input type="submit" value="Submit">
</form>
