﻿@model CoreMVCBasicExample.Models.Users

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label asp-for="UserName" class="control-label col-md-4"></label>
            <input asp-for="UserName" class="form-control text-box single-line" placeholder="Usuario" value="" type="text">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-4"></label>
            <input asp-for="Name" class="form-control text-box single-line" placeholder="Usuario" value="" type="text">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label col-md-4"></label>
            <input asp-for="LastName" class="form-control text-box single-line" placeholder="Usuario" value="" type="text">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label col-md-4"></label>
            <input asp-for="Password" class="form-control text-box single-line" placeholder="Usuario" value="" type="text">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PermissionId" class="control-label col-md-4"></label>
            <div class="col-md-10">
                @Html.DropDownList("PermissionId", null, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="PermissionId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>